<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/nav')%>

    <main class="min-vh-75 container d-flex flex-column justify-content-center text-center pt-5">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis nemo perspiciatis adipisci quidem eum eligendi corporis veritatis delectus id dolorum quam, hic amet labore soluta, accusamus nam eos sint, incidunt voluptatum perferendis possimus laudantium aperiam qui omnis? At, ducimus quisquam perferendis iure, saepe temporibus tempora suscipit ad non odit dolores praesentium ipsum fugit deserunt debitis aperiam ratione pariatur hic illum quod quaerat, ab animi beatae. Magni nemo quaerat porro, consequuntur dolores repellendus pariatur cupiditate expedita, cumque eos quasi minima vitae sapiente. Quas perferendis eos fugiat eligendi enim expedita voluptatum culpa nisi, quos, quidem voluptatibus facere ab. Quas beatae a unde! Quod in exercitationem consequatur, deleniti sint accusamus, rem architecto quae quas placeat tempore totam eius obcaecati sunt impedit? Odit tempore dolores eveniet earum praesentium velit blanditiis aut magni ducimus consequatur possimus enim sapiente eos eligendi saepe quis, vel incidunt doloremque. Impedit nobis quas aperiam quia quidem autem sunt assumenda fuga sint? Debitis perferendis, id deleniti hic dignissimos quasi iure quibusdam in ipsum veniam aspernatur a fugit voluptate possimus expedita deserunt atque nostrum sed quod eos maxime, similique quis! Quae, obcaecati error perferendis culpa quia doloribus odit exercitationem ab sapiente architecto sint corrupti delectus consectetur, fugit odio reprehenderit ducimus eos ratione?</p>
        </section>
    </main>
</body>
</html>